.navbar
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
      a.brand(href="/") MIT website
      .nav-collapse
        ul.nav
          li
            a(href='/')
              i.icon-home
              | Home
          if (!user)
            li
              a(href='/users/new')
                i
                | Register

      if (!user)
        .pull-right
          form.form-inline(method='post', action='/users/login')
            input.input-small(type="text", name='username', placeholder="Login")
            input.input-small(type="password", name='password', placeholder="Password")
            input.btn.btn-primary(type="submit", value="Sign in")
      else
        .pull-right
          form(action='/users/logout', method='post')
            input.btn.btn-primary(type='submit', value='Logout')
