doctype 5
html(lang="en")
  head
    script(src='/js/jquery-1.9.1.min.js')
    script(src='/js/bootstrap.min.js')
    link(href='/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/css/application.css', rel='stylesheet', type='text/css')
    -if (typeof page_title !== 'undefined')
      title #{page_title}
  body
    include _nav_bar
    .content
      .row-fluid
        .span12.offset1
          block content

    script(src='/js/application.js')
    block scripts
