doctype 5
html(lang="en")
  head
    script(src='/js/lib/jquery-1.9.1.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/lib/underscore.min.js')
    script(src='/js/lib/backbone.0.9.10.min.js')
    script(src='/js/lib/dateFormat.js')

    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(href='/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/css/bootstrap-responsive.min.css', rel='stylesheet', type='text/css')
    link(href='/css/application.css', rel='stylesheet', type='text/css')

    -if (typeof page_title !== 'undefined')
      title #{page_title}
  body
    include _nav_bar
    .container-fluid
      .row-fluid
        aside#sidebar.span2
          block sidebar
        section#content.span10
          block content

    block scripts
      script(src='/js/application.js')
