#templates {
  display: none;
}

.navbar {
  margin-bottom: 0;
}

.navbar form {
  margin: 0;
}

.navbar form input {
  margin: 5px;
}

#chat {
  resize: none;
  height: 300px;
  background: white;
  cursor: default;
  overflow: hidden;
  margin: 0 0 10px 0;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 10px;
  overflow-y: scroll;
}

.chat-message {
  clear: both;
}

.chat-message .date {
  float: left;
  font-weight: bold;
}

.chat-message .sender {
  color: #680;
  float: left;
  margin: 0 5px 0 5px;
}

#js-chat-container form {
  margin-left: 0 !important;
}

#js-rooms-container .nav a {
  height: 16px;
}

#user-table {
  margin-top: 10px;
}
