extends ../base_layout

block content
  .span6
    textarea#chat.span12(readonly="readonly")

    form.inline-form#chat-form(action='/messages', method='post')
      input.span10(type='text', placeholder='Message...', name='body')
      input.btn.btn-primary.pull-right(type='submit', value='Submit')

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/js/messages.js')
