extends ../base_layout

block content

  .span6
    != error_helper(errors)
    h2 Sign up

    form(method='post', action='/users')
      label Login
      input(type='text', name='user[login]')
      label Password
      input(type='password', name='user[password]')
      label Repeat password
      input(type='password', name='user[repeat_password]')

      div
        input.btn.btn-primary(type='submit')


